<!DOCTYPE HTML>
<html>
<head>
<title>北上广深链家租房信息爬虫可视化</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../../static/Mainapp/css/main.css" />
</head>
<body>

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="/" class="logo">北上广深链家租房信息爬虫可视化</a>

		<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	</div>
</header>

<!-- One
<section id="one" class="wrapper">
	<div class="inner">
		<div class="flex flex-3">
			<article style="width: 100%">
				<header style="width: 10% ;float: left;">
					<h3 style="color: #4d4d4d">城市<br /></h3>
				</header>
				<footer style="width: 70% ;float: left;padding-top: 5px">
					<a href="/bj/" class="" style="text-decoration:none">北京</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#threebj" style="text-decoration:none" class="">上海</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#threebj" style="text-decoration:none" class="">广州</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="/bj/ditu" style="text-decoration:none" class="">深圳</a>
				</footer>
			</article>

			
		</div>
        <div class="inner" style="max-width: 100%">
		<div class="flex flex-3">
			<article style="width: 100%">
				<header style="width: 10% ;float: left;">
					<h3 style="color: #4d4d4d">板块<br /></h3>
				</header>
				<footer style="width: 70% ;float: left;padding-top: 5px">
					<a href="/bj/" class="" style="text-decoration:none">热点分析</a>&nbsp;&nbsp;&nbsp;&nbsp;
				</footer>
                				<footer style="width: 70% ;float: left;padding-top: 5px">
					<p style="width: auto ;float: left;color: #4d4d4d;">个人租房</p>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#threebj" style="text-decoration:none" class="">条件查询</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#threebj" style="text-decoration:none" class="">地图找房</a>
				</footer>
			</article>


		</div>
	</div>
	</div>
</section>-->

<section id="one" class="wrapper">
	<div class="inner">
		<div class="flex flex-3">
			<article>
				<header>
					<h3>北京<br /> Beijing</h3>
				</header>
				<p></p>
				<footer>
                    <a href="#threebj" class="button special">热点分析</a>
                    <a href="/bj/" class="button special">条件查询</a>
                    <a href="/bj/ditu" class="button special">地图找房</a>
				</footer>
			</article>
			<article>
				<header>
					<h3>上海<br /> Shanghai</h3>
				</header>
				<p></p>
				<footer>
					<a href="#threesh" class="button special">热点分析</a>
					<a href="/sh/" class="button special">条件查询</a>
                    <a href="/sh/ditu" class="button special">地图找房</a>
				</footer>
			</article>
			<article>
				<header>
					<h3>广州<br /> Guangzhou</h3>
				</header>
				<p></p>
				<footer>
					<a href="#threegz" class="button special">热点分析</a>
					<a href="/gz/" class="button special">条件查询</a>
                    <a href="/gz/ditu" class="button special">地图找房</a>
				</footer>
			</article>
			<article>
				<header>
					<h3>深圳<br> Shenzhen</h3>
				</header>
				<p></p>
				<footer>
					<a href="#threesz" class="button special">热点分析</a>
                    <a href="/sz/" class="button special">条件查询</a>
                    <a href="/sz/ditu" class="button special">地图找房</a>
				</footer>
			</article>

		</div>
	</div>
</section>
<!-- 广州 -->
<section id="threegz"  class="wrapper special">
	<div class="inner">
		<header class="align-center">
			<h2>广州</h2>
			<p>数据统计时间：2020-03-24 </p>
		</header>
		<div class="flex flex-2">
			<article>
				<div class="image fit">
              {% if district_house_count_pie_gz %}{{ district_house_count_pie_gz|safe }} {% endif %}
                </div>
				<header>

				</header>

			</article>
			<article>
				<div class="image fit">
              {% if district_rent_price_gz %}{{ district_rent_price_gz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>
            <article>
				<div class="image fit">
              {% if house_type_count_gz %}{{ house_type_count_gz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>
            <article2>
				<div class="image fit">
              {% if orientation_count_gz %}{{ orientation_count_gz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article2>
            <article2>
				<div class="image fit">
              {% if rent_type_pie_gz %}{{ rent_type_pie_gz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article2>
                    <article>
				<div class="image fit">
              {% if rent_area_count_gz %}{{ rent_area_count_gz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>
                    <article>
				<div class="image fit">
              {% if microdistrict_price_top10_gz %}{{ microdistrict_price_top10_gz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>
                    <article>
				<div class="image fit">
              {% if tags_count_bar_gz %}{{ tags_count_bar_gz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>

		</div>
	</div>
</section>

<!-- 深圳 -->
<section id="threesz"  class="wrapper special">
	<div class="inner">
		<header class="align-center">
			<h2>深圳</h2>
			<p>数据统计时间：2020-03-24 </p>
		</header>
		<div class="flex flex-2">
			<article>
				<div class="image fit">
              {% if district_house_count_pie_sz %}{{ district_house_count_pie_sz|safe }} {% endif %}
                </div>
				<header>

				</header>

			</article>
			<article>
				<div class="image fit">
              {% if district_rent_price_sz %}{{ district_rent_price_sz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>
            <article>
				<div class="image fit">
              {% if house_type_count_sz %}{{ house_type_count_sz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>
            <article2>
				<div class="image fit">
              {% if orientation_count_sz %}{{ orientation_count_sz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article2>
            <article2>
				<div class="image fit">
              {% if rent_type_pie_sz %}{{ rent_type_pie_sz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article2>
                    <article>
				<div class="image fit">
              {% if rent_area_count_sz %}{{ rent_area_count_sz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>
                    <article>
				<div class="image fit">
              {% if microdistrict_price_top10_sz %}{{ microdistrict_price_top10_sz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>
                    <article>
				<div class="image fit">
              {% if tags_count_bar_sz %}{{ tags_count_bar_sz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>

		</div>
	</div>
</section>

<!-- 北京 -->
<section id="threebj"  class="wrapper special">
	<div class="inner">
		<header class="align-center">
			<h2>北京</h2>
			<p>数据统计时间：2020-03-24 </p>
		</header>
		<div class="flex flex-2">
			<article>
				<div class="image fit">
              {% if district_house_count_pie_gz %}{{ district_house_count_pie_gz|safe }} {% endif %}
                </div>
				<header>

				</header>

			</article>
			<article>
				<div class="image fit">
              {% if district_rent_price_gz %}{{ district_rent_price_gz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>
            <article>
				<div class="image fit">
              {% if house_type_count_gz %}{{ house_type_count_gz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>
            <article2>
				<div class="image fit">
              {% if orientation_count_gz %}{{ orientation_count_gz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article2>
            <article2>
				<div class="image fit">
              {% if rent_type_pie_gz %}{{ rent_type_pie_gz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article2>
                    <article>
				<div class="image fit">
              {% if rent_area_count_gz %}{{ rent_area_count_gz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>
                    <article>
				<div class="image fit">
              {% if microdistrict_price_top10_gz %}{{ microdistrict_price_top10_gz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>
                    <article>
				<div class="image fit">
              {% if tags_count_bar_gz %}{{ tags_count_bar_gz|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>

		</div>
	</div>
</section>

<!-- 上海 -->
<section id="threesh"  class="wrapper special">
	<div class="inner">
		<header class="align-center">
			<h2>上海</h2>
			<p>数据统计时间：2020-03-24 </p>
		</header>
		<div class="flex flex-2">
			<article>
				<div class="image fit">
              {% if district_house_count_pie_sh %}{{ district_house_count_pie_sh|safe }} {% endif %}
                </div>
				<header>

				</header>

			</article>
			<article>
				<div class="image fit">
              {% if district_rent_price_sh %}{{ district_rent_price_sh|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>
            <article>
				<div class="image fit">
              {% if house_type_count_sh %}{{ house_type_count_sh|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>
            <article2>
				<div class="image fit">
              {% if orientation_count_sh %}{{ orientation_count_sh|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article2>
            <article2>
				<div class="image fit">
              {% if rent_type_pie_sh %}{{ rent_type_pie_sh|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article2>
                    <article>
				<div class="image fit">
              {% if rent_area_count_sh %}{{ rent_area_count_sh|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>
                    <article>
				<div class="image fit">
              {% if microdistrict_price_top10_sh %}{{ microdistrict_price_top10_sh|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>
                    <article>
				<div class="image fit">
              {% if tags_count_bar_sh %}{{ tags_count_bar_sh|safe }} {% endif %}
				</div>
				<header>

				</header>

			</article>

		</div>
	</div>
</section>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<div class="flex">
			<div class="copyright">
				Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://www.freemoban.com/">www.freemoban.com</a>
			</div>
			<ul class="icons">
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
				<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
				<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
			</ul>
		</div>
	</div>
</footer>

<!-- Scripts -->
<script src="../../static/Mainapp/js/jquery.min.js"></script>
<script src="../../static/Mainapp/js/skel.min.js"></script>
<script src="../../static/Mainapp/js/util.js"></script>
<script src="../../static/Mainapp/js/main.js"></script>

</body>
</html>