{% load template_utils %}
{% load static %}
<html>
<head>

  <title>{{current_city.zh}}租房信息</title>
  
    <!-- 是否需要加载common.css -->
    <!--<link rel="stylesheet" href="../../static/Mainapp/css/common.css">>-->
  <link rel="stylesheet" href="{% static 'Mainapp/css/common.css' %}">

    <!-- 载入后台返回的css文件 -->
      <!--<link rel="stylesheet" href="../../static/Mainapp/css/index3.css">-->
  <link rel="stylesheet" href="{% static 'Mainapp/css/index3.css' %}">

      <!-- 载入链家相关皮肤 -->
    <!-- <link rel="stylesheet" href="../../static/Mainapp/css/lianjia.css">-->
    <meta charset="utf-8"> <!-- 设置文档字符编码 -->
    <!-- 隐藏发送请求时请求头表示来源的referrer字段。 -->
    <meta name="referrer" content="no-referrer" />
    <style type="text/css"> .filter__item--level2:active{font-weight: bold}</style>
    <style type="text/css"> .content__pg{width: 980px;text-align:right;margin-bottom: 5em; }</style>
</head>

<body>


  <div class="wrapper">
     <link href='//s1.ljcdn.com/feroot/pc/asset/lianjiaIM/css/lianjiaim.css?v=15212312340214' property='stylesheet' rel="stylesheet">

<div>


  <!-- 搜索房源sug -->
  <div class="search w1150" id="search">
  <!-- <a class="search__logo" href="/"></a> -->
  <div class="search__wrap">
    <input class="search__input fl" type="text" data-el="input" placeholder="请输入区域、商圈或小区名开始找房" autocomplete="off" value="" data-value="">
    <span class="search__button fl" data-el="button"></span>
  </div>

</div>  </div>

  <!-- 列表页面包屑 -->
  <div class="bread__nav w1150 ">
  <p class="bread__nav__wrapper oneline">
                  <a href="/">首页</a>&nbsp;&gt;&nbsp;
                      <h1>
        <a href="https://gz.lianjia.com/zufang/">{{current_city.zh}}租房</a>
      </h1>
            </p>
</div>

  <!-- 筛选项 -->
  <div class="filter">
  <div class="filter__wrapper w1150" id="filter">
    <ul class="filter__item--noaside">
      <li class="filter__item--level1 down strong" data-tab="1" data-el="area" data-antitarget="station"><a href="/zufang/" onclick="return false;">按区域</a></li>
        </ul>

          <ul data-target="area" class="">
              <li data-id="0" data-type="district" class="filter__item--level2 filter__item--aside {% if current_district.zh == None %}strong{% endif %}">
          <a href="/{{current_city.abbr}}"  rel="nofollow">不限</a>

        </li>
              {% for district in districts %}
              <li data-id="23008636" data-type="district" class="filter__item--level2  {% if current_district.zh == district %}strong{% endif %}">

          <a href="/{{current_city.abbr}}/{% pinyin district %}"  >{{district}}</a>
            {% endfor %}
        </li>
            </ul>
            <ul data-target="area">
            <li data-id="0" data-type="bizcircle" class="filter__item--level3 filter__item--aside {% if current_microdistrict == None %}strong{% endif %}">
              <a href="/{{current_city.abbr}}/{{current_district.en}}">不限</a>
            </li>
                {% for microdistrict in microdistricts %}                <li data-id="612100024" data-type="bizcircle" class="filter__item--level3  {% if current_microdistrict == microdistrict %}strong{% endif %}">
              <a href="/{{current_city.abbr}}/{{current_district.en}}/{% pinyin microdistrict %}">{{microdistrict}}</a>
                {% endfor %}
            </li>
                        </ul>

    
          <ul class="filter__ul" data-el="rentType">
          <li class="filter__item--level4 filter__item--aside"><a href="javascript:;">方式</a></li>
                  <li data-id="0" class="filter__item--level4 {% if 'rt0' or 'rt1' or 'rt2' not in current_conditions %}strong{% endif %}">
            <a href="" rel="nofollow" >不限</a>
          </li>
                  <li data-id="200600000001" class="filter__item--level4 {% if 'rt0' in current_conditions %}strong{% endif %}">
            <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict  %}{% pinyin current_microdistrict %}/{% endif %}{% if 'rt0' in current_conditions %}{% deletestr current_conditions 'rt0' %}{% else %}{% addstr current_conditions 'rt0' %}{% endif %}"  >整租</a>
          </li>
                  <li data-id="200600000002" class="filter__item--level4 {% if 'rt1' in current_conditions %}strong{% endif %}">
            <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict  %}{% pinyin current_microdistrict %}/{% endif %}{% if 'rt1' in current_conditions %}{% deletestr current_conditions 'rt1' %}{% else %}{% addstr current_conditions 'rt1' %}{% endif %}"  >合租</a>
          </li>
               <li data-id="200600000002" class="filter__item--level4 {% if 'rt2' in current_conditions %}strong{% endif %}">
            <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict  %}{% pinyin current_microdistrict %}/{% endif %}{% if 'rt2' in current_conditions %}{% deletestr current_conditions 'rt2' %}{% else %}{% addstr current_conditions 'rt2' %}{% endif %}"  >公寓</a>
          </li>
              </ul>
    
    
          <ul class="filter__ul" data-el="filterPrice">
          <li class="filter__item--level5 filter__item--aside"><a>租金</a></li>
                  <li class="filter__item--level5 check {% if 'rp0' in current_conditions %}checked{% endif %}">
            <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict  %}{% pinyin current_microdistrict %}/{% endif %}{% if 'rp0' in current_conditions %}{% deletestr current_conditions 'rp0' %}{% else %}{% addstr current_conditions 'rp0' %}{% endif %}">≤1000元</a>
          </li>
                  <li class="filter__item--level5 check {% if 'rp1' in current_conditions %}checked{% endif %}">
            <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'rp1' in current_conditions %}{% deletestr current_conditions 'rp1' %}{% else %}{% addstr current_conditions 'rp1' %}{% endif %}">1000-1500元</a>
          </li>
                  <li class="filter__item--level5 check {% if 'rp2' in current_conditions %}checked{% endif %}">
            <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'rp2' in current_conditions %}{% deletestr current_conditions 'rp2' %}{% else %}{% addstr current_conditions 'rp2' %}{% endif %}">1500-2000元</a>
          </li>
                  <li class="filter__item--level5 check {% if 'rp3' in current_conditions %}checked{% endif %}">
            <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'rp3' in current_conditions %}{% deletestr current_conditions 'rp3' %}{% else %}{% addstr current_conditions 'rp3' %}{% endif %}">2000-2500元</a>
          </li>
                  <li class="filter__item--level5 check {% if 'rp4' in current_conditions %}checked{% endif %}">
            <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'rp4' in current_conditions %}{% deletestr current_conditions 'rp4' %}{% else %}{% addstr current_conditions 'rp4' %}{% endif %}">2500-3000元</a>
          </li>
                  <li class="filter__item--level5 check {% if 'rp5' in current_conditions %}checked{% endif %}">
            <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'rp5' in current_conditions %}{% deletestr current_conditions 'rp5' %}{% else %}{% addstr current_conditions 'rp5' %}{% endif %}">3000-5000元</a>
          </li>
                  <li class="filter__item--level5 check {% if 'rp6' in current_conditions %}checked{% endif %}">
            <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'rp6' in current_conditions %}{% deletestr current_conditions 'rp6' %}{% else %}{% addstr current_conditions 'rp6' %}{% endif %}">≥5000元</a>
          </li>
                  <li class="filter__item--input" data-url="/zufang/brp{min}erp{max}/"><input type="text" data-el="input_start" value="">-<input data-el="input_end" type="text" value="">元<span class="filter__button" data-el="button"></span></li>
      </ul>
    
          <ul class="filter__ul">
          <li class="filter__item--level5 filter__item--aside"><a>户型</a></li>
                  <li class="filter__item--level5 check {% if 'ht0' in current_conditions %}checked{% endif %}">
            <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'ht0' in current_conditions %}{% deletestr current_conditions 'ht0' %}{% else %}{% addstr current_conditions 'ht0' %}{% endif %}">一居</a>
          </li>
                  <li class="filter__item--level5 check {% if 'ht1' in current_conditions %}checked{% endif %}">
            <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'ht1' in current_conditions %}{% deletestr current_conditions 'ht1' %}{% else %}{% addstr current_conditions 'ht1' %}{% endif %}">两居</a>
          </li>
                  <li class="filter__item--level5 check {% if 'ht2' in current_conditions %}checked{% endif %}">
            <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'ht2' in current_conditions %}{% deletestr current_conditions 'ht2' %}{% else %}{% addstr current_conditions 'ht2' %}{% endif %}">三居</a>
          </li>
                  <li class="filter__item--level5 check {% if 'ht3' in current_conditions %}checked{% endif %}">
            <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'ht3' in current_conditions %}{% deletestr current_conditions 'ht3' %}{% else %}{% addstr current_conditions 'ht3' %}{% endif %}">四居+</a>
          </li>
              </ul>
    
    
          <ul class="filter__ul ">
          <li class="filter__item--level5 filter__item--aside"><a>朝向</a></li>
                  <li class="filter__item--level5 check {% if 'or0' in current_conditions %}checked{% endif %}">
            <a rel="nofollow" href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'or0' in current_conditions %}{% deletestr current_conditions 'or0' %}{% else %}{% addstr current_conditions 'or0' %}{% endif %}">东</a>
          </li>
                  <li class="filter__item--level5 check {% if 'or1' in current_conditions %}checked{% endif %}">
            <a rel="nofollow" href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'or1' in current_conditions %}{% deletestr current_conditions 'or1' %}{% else %}{% addstr current_conditions 'or1' %}{% endif %}">西</a>
          </li>
                  <li class="filter__item--level5 check {% if 'or2' in current_conditions %}checked{% endif %}">
            <a rel="nofollow" href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'or2' in current_conditions %}{% deletestr current_conditions 'or2' %}{% else %}{% addstr current_conditions 'or2' %}{% endif %}">南</a>
          </li>
                  <li class="filter__item--level5 check {% if 'or3' in current_conditions %}checked{% endif %}">
            <a rel="nofollow" href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'or3' in current_conditions %}{% deletestr current_conditions 'or3' %}{% else %}{% addstr current_conditions 'or3' %}{% endif %}">北</a>
          </li>
                  <li class="filter__item--level5 check {% if 'or4' in current_conditions %}checked{% endif %}">
            <a rel="nofollow" href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'or4' in current_conditions %}{% deletestr current_conditions 'or4' %}{% else %}{% addstr current_conditions 'or4' %}{% endif %}">南北</a>
          </li>
              </ul>


    
          <ul class="filter__ul">
          <li class="filter__item--level5 filter__item--aside"><a>楼层</a></li>
                  <li class="filter__item--level5 check {% if 'lc0' in current_conditions %}checked{% endif %}">
            <a rel="nofollow" href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'lc0' in current_conditions %}{% deletestr current_conditions 'lc0' %}{% else %}{% addstr current_conditions 'lc0' %}{% endif %}">低楼层</a>
          </li>
                  <li class="filter__item--level5 check {% if 'lc1' in current_conditions %}checked{% endif %}">
            <a rel="nofollow" href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'lc1' in current_conditions %}{% deletestr current_conditions 'lc1' %}{% else %}{% addstr current_conditions 'lc1' %}{% endif %}">中楼层</a>
          </li>
                  <li class="filter__item--level5 check {% if 'lc2' in current_conditions %}checked{% endif %}">
            <a rel="nofollow" href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'lc2' in current_conditions %}{% deletestr current_conditions 'lc2' %}{% else %}{% addstr current_conditions 'lc2' %}{% endif %}">高楼层</a>
          </li>
              </ul>
    
          <ul class="filter__ul">
          <li class="filter__item--level5 filter__item--aside"><a>特色</a></li>
                  <li class="filter__item--level5 check {% if 'tg0' in current_conditions %}checked{% endif %}">
            <a rel="nofollow" href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'tg0' in current_conditions %}{% deletestr current_conditions 'tg0' %}{% else %}{% addstr current_conditions 'tg0' %}{% endif %}">近地铁</a>
          </li>
                <li class="filter__item--level5 check {% if 'tg1' in current_conditions %}checked{% endif %}">
            <a rel="nofollow" href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'tg1' in current_conditions %}{% deletestr current_conditions 'tg1' %}{% else %}{% addstr current_conditions 'tg1' %}{% endif %}">精装</a>
          </li>
              <li class="filter__item--level5 check {% if 'tg2' in current_conditions %}checked{% endif %}">
            <a rel="nofollow" href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'tg2' in current_conditions %}{% deletestr current_conditions 'tg2' %}{% else %}{% addstr current_conditions 'tg2' %}{% endif %}">集中供暖</a>
          </li>
              <li class="filter__item--level5 check {% if 'tg3' in current_conditions %}checked{% endif %}">
            <a rel="nofollow" href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'tg3' in current_conditions %}{% deletestr current_conditions 'tg3' %}{% else %}{% addstr current_conditions 'tg3' %}{% endif %}">双卫生间</a>
          </li>
              <li class="filter__item--level5 check {% if 'tg4' in current_conditions %}checked{% endif %}">
            <a rel="nofollow" href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if 'tg4' in current_conditions %}{% deletestr current_conditions 'tg4' %}{% else %}{% addstr current_conditions 'tg4' %}{% endif %}">随时看房</a>
          </li>
              </ul>
      </div>
</div>

  <!-- 房源列表相关信息 -->
  <div class="content w1150" id="content">
    <div class="content__article">

      <!-- 搜索结果信息 -->
      <p class="content__title">
      已为您找到 <span class="content__title--hl">{{total_count}}</span> 套 <a href="https://gz.lianjia.com/zufang/" target="_blank" style="text-decoration:none;color:black">
          {{current_city.zh}}
          {% if current_district.zh %}{{current_district.zh}}{% endif %}
          {% if current_microdistrict %}{{current_microdistrict}}{% endif %}
          租房</a>
    <span class="content__title--aside"><a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}{% endif %}/" id="clearUrl">清空条件</a></span>
</p>

      <!-- 搜索结果排序模块 -->
      <ul class="content__filter" id="contentList">
            <li data-event_id="10800" data-event_action="search_condition=/zufang/" class="{% if current_conditions %}{% if 'so0' not in current_conditions %}{% if 'so1' not in current_conditions %}content__filter--selected{% endif %}{% endif %}{% else %}}content__filter--selected{% endif %}">
        <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}/{% if  current_conditions %}{% deletestr current_conditions 'so0' 'so1' %}{% endif %}"
           data-event_id="10797" 
           data-event_action="target=综合排序"
           data-event_position="target">默认排序</a>
      </li>
                                                              <li data-event_id="10800" 
          data-event_action="search_condition=/zufang/rco21/" 
          class="{% if 'so0' in current_conditions %}content__filter--selected content__filter-up{% endif %}">

                  <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if current_conditions %}{% if 'so1' in current_conditions %}{% delete_and_add current_conditions 'so0' 'so1' %}{% elif 'so0'  in current_conditions %}{{current_conditions}}{% else %}so0{% endif %}{% else %}so0{% endif %}"
             data-event_id="10797" 
             data-event_action="target=价格"
             data-event_position="target"
             >价格</a>
              </li>
                                                              <li data-event_id="10800" 
          data-event_action="search_condition=/zufang/rco31/" 
          class="{% if 'so1' in current_conditions %}content__filter--selected content__filter-up{% endif %}">

                  <a href="/{{current_city.abbr}}/{% if current_district.en  %}{{current_district.en}}/{% endif %}{% if current_microdistrict %}{% pinyin current_microdistrict %}/{% endif %}{% if current_conditions %}{% if 'so0' in current_conditions %}{% delete_and_add current_conditions 'so1' 'so0' %}{% elif 'so1'  in current_conditions %}{{current_conditions}}{% else %}so1{% endif %}{% else %}so1{% endif %}"
             data-event_id="10797" 
             data-event_action="target=面积"
             data-event_position="target"
             >面积</a>
              </li>
        </ul>

      <!-- 小区吊顶模块 -->
      
      
        <!-- 有结果时，房源列表 -->
        <div class="content__list">{% for contact in contacts %}


          <div
  class="content__list--item"
  data-el="listItem"
  data-house_code="GZ2386859670267494400"
  data-brand_code="200301001000"
  data-ad_code=""
  data-c_type="1"
  data-position="0"
  data-total="68086"
  data-fb_expo_id="289404460763873281"
  data-t="default"
  data-strategy_id=""
  data-click_position="0"
  data-ad_type="0"
  data-distribution_type="203500000001"
  >
    <a
      class="content__list--item--aside" target="_blank"      href={{contact.detail_url}}
      title={{ contact.title }} >

        <img
          alt=""
          src={{contact.img}}
          >

            </a>
    <div class="content__list--item--main">
      <p class="content__list--item--title twoline">
        <a target="_blank" href={{contact.detail_url}}>
            {{ contact.title }}        </a>
      </p>
      <p class="content__list--item--des">
        <a target="_blank" href="/zufang/{% pinyin contact.district %}/">{{ contact.district }}</a>-<a href="/zufang/tonghe1/" target="_blank">{{ contact.microdistrict }}</a>-<a title="丽景雅庭" href="/zufang/c2111103319264/" target="_blank">{{ contact.community }}</a>
        <i>/</i>
        {{ contact.area }}㎡
        <i>/</i>{{ contact.orientation }}        <i>/</i>
        {{ contact.houseTpye }}        <span class="hide">
          <i>/</i>
          {{ contact.floor }}  层
                  </span>
      </p>
      <p class="content__list--item--bottom oneline">{% for tag in contact.tags %}
            <i class="content__item__tag--is_subway_house">{{ tag }}</i>
          {% endfor %}
            </p>
      <span class="content__list--item-price"><em>{{ contact.price }}</em> 元/月</span>
    </div>

</div>
        
{% endfor %}
</div>

        <!-- 列表分页模块 -->
        <div class="content__pg" data-el="page_navigation" data-url="/zufang/pg{page}/" data-totalPage=100 data-curPage=1>


        </div>



      
          </div>

    
  </div>

        {# 分页标签的HTML代码 #}
<div class="content__pg">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>
</body>


</html>
